.jumbotron
  %h2= "Yelpdemo is the best way to find your reviews on local restaurants."
  %h3= "Explore the favorite diners, pastry shops, and eateries in your community. Leave reviews and ratings for your fellow foodies."

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Address
      %th Phone
      %th Website
      %th
      %th
      %th

  %table-condenseddy
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td= restaurant.address
        %td= restaurant.phone
        %td= restaurant.website
        %td= link_to 'Show', restaurant, class: "btn btn-link"
        %td= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link"
        %td= link_to 'Destroy', restaurant, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-link"

%br

= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-link"

= image_tag "https://s3.amazonaws.com/yelpdemotutorial/buildings.png"
