.row
  .col-md-3
    = image_tag @restaurant.image_url

    %h2
      %b= @restaurant.name
    %p
      %b Address:
      = @restaurant.address
    %p
      %b Phone:
      = @restaurant.phone
    %p
      %b Website:
      = link_to @restaurant.website

    = link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary'

  .col-md-9
    - if @reviews.blank?
      %h3= "No reviews yet. Be the first to write one!"
    -else
      - @reviews.each do |review|
        .start-rating{ 'data-score' => review.rating }
        %p= review.comment

= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link'
\|
= link_to 'Back', restaurants_path, class: 'btn btn-link'


:javascript
  $('.start-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemotutorial/stars',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
