%p#notice= notice

= image_tag @restaurant.image_url

%p
  %b Name:
  = @restaurant.name
%p
  %b Address:
  = @restaurant.address
%p
  %b Phone:
  = @restaurant.phone
%p
  %b Website:
  = @restaurant.website

= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link'
\|
= link_to 'Back', restaurants_path, class: 'btn btn-link'
