= form_for ([@restaurant, @review]) do |f|
  - if @review.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %button.close{ "type" => "button", "data-dismiss" => "alert" }
        %span{ "aria-hidden" => "true" }= "&times;"
        %span.sr-only= "Close"
      %h4= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  #star-rating

  .form-group
    = f.label :comment
    = f.text_area :comment, class: "form-control"
  .form-group
    = f.submit 'Save', class: "btn btn-primary"

:javascript
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemotutorial/stars',
    scoreName: 'review[rating]'
  });
